 <HTML>
 	<head>
 		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
 	 </head>
 <body>

 <div class="container">
  	<center><img src = "CFAlogos-06med.jpg"></center>
	 <div class="row">
		 <div class="panel panel-primary">
			 <div class="panel-heading">Hello John Doe! Please tell us about your farm.</div>
			 <form action = "populate.php" method = "post">

				<div class="panel-body">
				<div class="col-sm-6">
					<b>Are you looking to...</b>
					 	<br />
						<input type="checkbox" name="to_rent" value="Rent"> Lease or Rent?
						<br />
						<input type="checkbox" name="to_sell" value="Sell"> Sell
						<br />
						<input type="checkbox" name="to_intern" value="Intern"> Farm Intern of Apprentice? 
						<br />
						<input type="checkbox" name="to_other" value="Other"> Other: <input type="text" name="terms_other"/>
					<br />
					<br />
					<b>Location</b>
					<br />
						Street:<br />
						<input type="text" name="street">
						<br />
						City:<br />
						<input type="text" name="city">
						<br />
						Zip:<br />
						<input type="text" name="zip">
						<br />
						<br />

					<b>Farmland</b>
					<br />
						Total Acres:<br />
						<input type="text" name="acres">
						<br />
						Pasture:<br />
						<input type="text" name="pasture">
						<br />
						Tillable:<br />
						<input type="text" name="tillable">
						<br />
						Woodland:<br />
						<input type="text" name="woodland">
						<br />
						<br />

					<b>Housing Needed</b>
					<br />
					<input type="checkbox" name="housing" > Yes. Describe: <input type="text" name="housing_other" />
					<br />
					<br />
					<b>Infastructure</b>
						<br />
						<input type="checkbox" name="infastructure_storage" value="Equipment_Storage"> Equipment Storage
						<br />
						<input type="checkbox" name="infastructure_barn" value="Livestock_Barn"> Livestock Barn
						<br />
						<input type="checkbox" name="infastructure_stables" value="Stables"> Stables
						<br />
						<input type="checkbox" name="infastructure_greenhouse" value="Greenhouse"> Greenhouse/High Tunnel
						<br />
						<input type="checkbox" name="infastructure_goats" value="Goats"> Goats
						<br />
						<input type="checkbox" name="infastructure_sheep" value="Sheep"> Sheep
						<br />
						<input type="checkbox" name="infastructure_horses" value="Horses"> Horses

				</div>

				<div class="col-sm-6">
					<br />
					<b>Current or Past Farming Endeavors</b>
					<br />
					(Check all that apply)
					<br />
					<br />
					<input type="checkbox" name="horticulture" value="Bike"> Vegetables/Horticulture
					<br />
					Livestock:
					<ul >
						<li> <input type="checkbox" name="livestock_cattle" value="Beef"> Cattle-Beef </li>
						<li><input type="checkbox" name="livestock_barn" value="Dairy"> Cattle-Dairy</li>
						<li><input type="checkbox" name="livestock_stables" value="Poultry"> Poultry</li>
						<li><input type="checkbox" name="livestock_hogs" value="Hogs"> Hogs</li>
						<li><input type="checkbox" name="livestock_goats" value="Goats"> Goats</li>
						<li><input type="checkbox" name="livestock_sheep" value="Sheep"> Sheep</li>
						<li><input type="checkbox" name="livestock_horses" value="Horses"> Horses</li>
					</ul>
					<input type="checkbox" name="aquaculture" value="Aquaculture"> Aquaculture
					<br />
					<input type="checkbox" name="tobacco" value="Tobacco"> Tobacco
					<br />
					<input type="checkbox" name="rowcrops" value="Crops"> Row Crops
					<br >
					<br />
					Rent Lease Agreement
					<select name="agreement">
					  <option value="short">Short Term (Less than 2 years)</option>
					  <option value="Long">Long Term (More than 5 years)</option>
					</select>
					<br />

					Purchase Arangement
					<select name="agreement">
					  <option value="lease">Lease to own</option>
					  <option value="Sale">For Sale Only</option>
					  <option value="contract">Land Contrat</option>
					  <option value="other">Other</option>
					</select>
					<br />
					<br />
					<b>Equipment Available</b>
					<br />
					<input type="checkbox" name="equipment" value="Bike">Yes. Describe: <input type = "textbox" name = "equipment_describe"/>
					<br />
					<input type="checkbox" name="irrigation" value="Bike"> Irrigation Available?
				</div>

				<div class="col-sm-12">
					<br/>
					<b>Please describe your longterm goals for the land (100 words or less open ended)</b>
					<br/>
					<textarea name="goals" class="form-control"></textarea>
					<br/>
					<b>Select image to upload:</b>
					<input type="file" name="fileToUpload" id="fileToUpload">
					<br />
					<button type="button" class="btn btn-primary btn-lg">Submit</button>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>
</body>
</HTML> 